@import '../assets/style/offset.scss';
@import '../assets/style/palette.scss';

.info-bar {
    margin: $offset-10;
    border: $offset-1 solid $color-silver;
    border-radius: $offset-10;
    box-sizing: border-box;

    &__item {
        margin: $offset-5;
    }
}

.editor-field {
    margin: $offset-10;
    padding: $offset-5;
    border: $offset-5 solid $color-silver;
    border-radius: $offset-10;
    box-sizing: border-box;

    pre {
        margin: 0;
        background-color: $color-whitesmoke;
    }
}